@import "../../global.scss";

.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 200px;

  @include screen-size(phone) {
    height: auto;
  }
  @include screen-size(tablet) {
    height: auto;
  }

  @include screen-size(desktop) {
    height: 90vh;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding-top: 30px;
  }

  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 90%;

    .project {
      width: 450px;
      height: 250px;
      padding: 10px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      box-shadow: 15px 15px 15px #333;
      transition: all ease-in-out 0.5s;
      border-radius: 10px;
      border: 1px solid #333;

      color: $secondaryTextColor;
      background-color: $secondaryColor;

      @include screen-size(phone) {
        margin-bottom: 20px;
      }
      @include screen-size(tablet) {
        margin-bottom: 20px;
      }
      &:hover {
        background-color: $mainColor;
        color: $secondaryColor;
        opacity: 0.9;
      }

      h3 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1rem;
      }
      span {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        > * {
          margin-left: 20px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
