@import "../../global.scss";

.portfolioContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 200px;

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 90%;

    .project {
      width: 450px;
      height: 250px;
      padding: 10px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      box-shadow: 15px 15px 15px #333;
      transition: all ease-in-out 0.5s;
      border-radius: 10px;
      background-color: $mainColor;
      color: $secondaryColor;

      &:hover {
        color: $secondaryColor;
        background-color: $tertiaryColor;

        opacity: 0.9;
        box-shadow: none;
      }

      h3 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1rem;
      }
      span {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        > * {
          margin-left: 20px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
