.portfolioContainer {
  background-color: #ebf2f9;
  // background-color: red;
  padding-top: 20px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 2rem;
  }

  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 90%;
    // background-color: aqua;

    .project {
      width: 500px;
      height: 250px;
      // background-color: yellow;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      box-shadow: 15px 15px 15px #333;

      h3 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1rem;
      }
      span {
        display: flex;
        width: 100%;

        > * {
          margin-left: 20px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
