@import "../../global.scss";

.contactMe {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  // width: 100%;
  height: auto;
  padding: 5px;

  @include screen-size(phone) {
    min-height: 80vh;
    flex-direction: column;
  }

  @include screen-size(tablet) {
    height: 80vh;
  }

  .get-in-touch {
    display: flex;
    flex-direction: column;
    text-align: center;
    // background: red;

    h2 {
      font-size: 2rem;
    }
    > p {
      font-size: 1rem;
      letter-spacing: 2px;
      line-height: 30px;
      width: 100%;

      @include screen-size(phone) {
        width: 100%;
        font-size: 1rem;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;

    @include screen-size(phone) {
      flex-direction: column-reverse;
    }

    .contact-info {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      flex: 1;

      padding: 10px;

      @include screen-size(phone) {
        flex-direction: column;
        margin: 5px;
        // height: auto;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        box-shadow: 1px 1px 1px 1px rgb(161, 159, 159);
        border-radius: 6px;
        padding: 5px;

        @include screen-size(phone) {
          font-size: 1rem;
          width: 70%;
          // height: 100%;
          margin: 10px 0;
        }

        @include screen-size(tablet) {
          width: 90%;
          height: 150px;
        }
        @include screen-size(desktop) {
          width: 25%;
          // width: auto;
          // height: 60%;
        }

        .icon {
          font-size: 2.2rem;
        }
        h5 {
          text-transform: uppercase;
          font-size: 1.2rem;
        }
        p {
          color: $mainColor;
          font-size: 1rem;
        }
      }
    }

    .formContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: 5px;
      height: 80vh;
      margin-top: 20px;

      @include screen-size(phone) {
        height: 100%;
      }

      form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 80%;
        background-color: $mainColor;
        border-radius: 6px;
        padding: 20px;

        @include screen-size(phone) {
          flex-direction: column;
          width: 100%;
          height: 90%;
        }
        .inputs {
          display: flex;
          // align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          width: 60%;
          // height: auto;

          @include screen-size(phone) {
            width: 80%;
            height: 50%;
          }

          @include screen-size(tablet) {
            width: 80%;
          }
          @include screen-size(desktop) {
            width: 60%;
          }

          > input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #333;
            outline: none;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 20px 20px;
            margin: 5px;
            border-radius: 4px;

            @include screen-size(tablet) {
              height: 30px;
              font-size: 0.8rem;
            }
          }
        }
        .text-area {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          align-items: flex-end;
          width: 60%;
          overflow: hidden;

          @include screen-size(phone) {
            width: 100%;
          }

          textarea {
            // border-radius: 10px;
            border: 1px solid #333;
            margin-top: 30px;
            padding: 10px;
            font-size: 18px;
            outline: none;
            width: 100%;
            height: 150px;
            border-radius: 4px;
          }

          .button-alerts {
            padding: 10px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            @include screen-size(phone) {
              flex-direction: column;
            }

            button {
              height: 40px;
              width: 150px;
              border: 1px solid $secondaryColor;
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
              outline: none;
              border: none;
              margin-top: 30px;
              cursor: pointer;
              // background-color: $secondaryTextColor;
              color: $mainColor;

              &.loading {
                background: rgb(161, 159, 159);
                cursor: progress;
              }
            }
            .notification {
              width: 300px;
              height: 100px;
              animation: popup 5s forwards;
              display: none;
              border-radius: 4px;
              transition: all ease-in-out;
              box-shadow: 1px 2px 2px 2px #333;
              background-color: $secondaryColor;
              animation: popup 5s forwards;
              // position: absolute;
              // z-index: 100;

              &.success {
                display: flex;
              }

              &.error {
                display: flex;
              }

              .border {
                width: 12px;
                height: 100%;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                &.error {
                  background: red;
                }
                &.success {
                  background-color: green;
                }
              }
              .message {
                padding: 2px;
                min-height: 70px;
                display: flex;
                // flex-direction: column;
                align-items: center;
                .icon {
                  color: green;
                  font-size: 2.2rem;
                }
                > span {
                  padding: 5px;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes popup {
  from {
    display: block;
    // position: relative;
  }
  to {
    display: hidden;
    bottom: -100;
  }
}
