@import "../../global.scss";

.introContainer {
  background-color: $secondaryColor;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

  @include screen-size(phone) {
    height: 150vh;
  }

  .backgroundContainer {
    transition: all ease-in-out 10s;
    animation: changeImage 20s infinite forwards;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 70px;
    height: 100vh;
    width: 100%;

    @include screen-size(phone) {
      height: 120vh;
    }
  }
  .leftContainer {
    width: 100%;
    height: 200vh;
    position: relative;
    top: 30vh;
    transition: all ease-in-out 1.5s;

    @include screen-size(phone) {
      top: 20vh;
      height: 570px;
    }

    @include screen-size(tablet) {
      width: 500px;
    }
    .image {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;

      img {
        height: 230px;
        width: 230px;
        border-radius: 50%;
        object-fit: cover;

        @include screen-size(phone) {
          height: 270px;
          width: 270px;
        }
      }

      .introText {
        width: 80%;
        line-height: 25px;
        text-align: center;

        h2 {
          font-size: 2rem;
          height: 40px;
          color: $mainColor;

          @include screen-size(phone) {
            font-size: 1.6rem;
          }
        }
      }
      .nav-button {
        height: 60px;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include screen-size(phone) {
          width: 70%;
        }

        a {
          text-decoration: none;

          button {
            height: 40px;
            width: 120px;
            border-radius: 10px;
            outline: none;
            cursor: pointer;
            border: none;
            background-color: $mainColor;
            color: whitesmoke;

            &:hover {
              background-color: $mainTextColor;
              color: $mainColor;
            }
          }
        }
        .cv-download {
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          cursor: not-allowed;

          .icon {
            font-size: 1.2rem;
          }
        }
      }

      .personalText {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .social {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $mainColor;
          width: 100%;

          .icon {
            cursor: pointer;
            color: $mainColor;
            font-size: 2rem;

            &:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 35vh;
    box-shadow: 15px 15px 15px #333;
    border-radius: 10px;
    width: 90%;

    background-color: $mainColor;
    color: $mainTextColor;

    @include screen-size(desktop) {
      height: 350px !important;
    }
    @include screen-size(tablet) {
      height: 500px;
    }
    @include screen-size(phone) {
      top: 40vh;
      height: 75%;
      // background-color: red;
    }

    .container {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      @include screen-size(phone) {
        flex-direction: column;
      }

      .meta-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 80%;
        font-size: 1.2rem;

        @include screen-size(phone) {
          height: 50%;
          // background-color: aqua;
          // color: red;
          // padding-top: 10px;
          // justify-content: center;
        }

        span {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 200px;
          height: 80%;
          padding: 10px;
        }
      }

      p {
        line-height: 35px;
        letter-spacing: 2px;
        padding: 10px;
        width: 80%;
        height: 100%;

        @include screen-size(phone) {
          width: 100%;
        }

        .icon {
          font-size: 0.8rem;
          animation: none;
        }
      }
    }

    .icon {
      font-size: 4rem;
      color: $tertiaryColor;
      cursor: pointer;

      animation: zoom 1.5s infinite;
      transition: ease-in-out;

      @keyframes zoom {
        0% {
          transform: scale(1.4);
        }
        50% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.3);
        }
      }
    }

    @keyframes changeImage {
      0% {
        background-image: url("./code.jpg");
        opacity: 0.4;
      }
      50% {
        background-image: url("./web.jpg");
        opacity: 0.4;
      }
      100% {
        background-image: url("./comp.jpg");
        opacity: 0.4;
      }
    }
  }
}
