@import "../../global.scss";

.introContainer {
  background-color: $secondaryColor;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;


  .leftContainer {
    width: 100% !important;
    height: 90vh;
    position: relative;
    transition: all ease-in-out 1.5s;

    .backgroundContainer {
      background-image: url("./code.webp");
      opacity: 0.4;
      transition: all ease-in-out 10s;
      background-position: center;
      background-size: cover;
      position: absolute;
      // top: 70px;
      height: 100%;
      width: 100%;

      @include screen-size(phone) {
        // height: 120vh;
      }
    }

    @include screen-size(phone) {
    }

    .image {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      position: relative;

      @include screen-size(phone) {
        top: 15%;
      }

        @include screen-size(tablet) {
        top: 40%;
      }

      @include screen-size(desktop) {
        top: 30%;
      }
      img {
      
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        
        @include screen-size(phone) {
          height: 270px;
          width: 270px;
        }
        @include screen-size(tablet) {
          height: 300px;
          width: 300px;
          
        }
        @include screen-size(desktop) {
          height: 230px;
          width: 230px;
        }
      }

      .introText {
        width: 80%;
        line-height: 25px;
        text-align: center;
        margin-bottom: 20px;

        h2 {
          font-size: 2rem;
          height: 40px;
          color: $mainColor;

          @include screen-size(phone) {
            font-size: 1.6rem;
          }
        }
      }
      .nav-button {
        height: 60px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include screen-size(phone) {
          width: 60%;
        }
        @include screen-size(tablet) {
          width: 30%;
        }
        @include screen-size(desktop) {
          width: 20%;
        }
        a {
          text-decoration: none;

          button {
            height: 40px;
            width: 120px;
            outline: none;
            cursor: pointer;
            border: none;
            background-color: $mainColor;
            color: whitesmoke;
            position: relative;
            margin-bottom: 20px;

            &:hover {
              background-color: $mainTextColor;
              color: $mainColor;
            }
          }
        }
        .cv-download {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin-left: 10px;

          .icon {
            font-size: 1.2rem;
          }
        }
      }

      .personalText {
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include screen-size(phone) {
          width: 60%;
        }
        @include screen-size(tablet) {
          width: 30%;
        }
        @include screen-size(desktop) {
          width: 20%;
        }

        .social {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $mainColor;
          width: 100%;

          .icon {
            cursor: pointer;
            color: $mainColor;
            font-size: 2rem;

            &:hover {
              color: $tertiaryColor;
            }
          }
        }
      }

       .arrow-down {
      font-size: 4rem;
      color: $tertiaryColor;
      cursor: pointer;

      animation: zoom 1.5s infinite;
      transition: ease-in-out;

      @keyframes zoom {
        0% {
          transform: scale(1.4);
        }
        50% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.3);
        }
      }
    }
    }
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 10px #333;
    width: 100%;

    @include screen-size(phone) {
      height: auto;
    }
    @include screen-size(tablet) {
      min-height: 50vh;
    }
    @include screen-size(desktop) {
      height: 70vh;
    }

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px;

      @include screen-size(phone) {
        flex-direction: column;
      }
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;

  
  
    .title {
      padding: 10px;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
      color: $mainColor;
      text-align: center;
      min-width: 250px;
      margin: 20px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);


      @include screen-size(phone) {
        font-size: 1.2rem;
      }
      @include screen-size(tablet) {
        font-size: 1.8rem;
      }

      @include screen-size(desktop) {
        font-size: 2rem;
      }
    }
  
  
  .card-body{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
    flex-wrap: wrap;
    height: auto;


    .meta-data{
      // padding: 20px;
      // width: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span{
        margin-right: 20px;
        strong{
          font-weight: 600;
        }
        
        span{
          font-size: 1rem;
          color: $mainColor;
          margin-left: 10px;
          font-weight: 400;
     

        }
      }
    }

  .meta-text{
    display: flex;
    align-items: center;
    flex: 1;

    @include screen-size(phone) {
      flex-direction: column;
    }
  }


  a{
    color: $mainColor;
    text-decoration: underline solid 1px $mainColor;; 
  }
  }
}
       .tech-stack{
      // margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: whitesmoke;
    width: 90%;

        div{
          display: flex;
          flex-direction: column;
          align-items: center;


            .tech-image{
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 10px;
    box-shadow: #333 0px 0px 10px;
  }

  span{
    text-transform: capitalize;
  }
        }
  }

      p {
        line-height: 35px;
        letter-spacing: 2px;
        padding: 20px;
        width: 80%;
        height: 80%;
        font-size: 1.2rem;

        @include screen-size(phone) {
          width: 100%;
        }

        .icon {
          font-size: 0.8rem;
          animation: none;
        }
      }
    }

    .icon {
      font-size: 4rem;
      color: $tertiaryColor;
      cursor: pointer;

      animation: zoom 1.5s infinite;
      transition: ease-in-out;

      @keyframes zoom {
        0% {
          transform: scale(1.4);
        }
        50% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.3);
        }
      }
    }

  }
}


