.app {
  //   height: 100vh;

  > &section {
    scroll-snap-align: start;
  }
}
section {
  //   height: calc(100vh - 70px);
  //   background-color: #333;
  //   position: relative;
  //   top: 70px;
  //   scroll-snap-type: y mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }

  //   > * {
  //     // width: 100vw;
  //     // height: calc(100vh - 70px);
  //     scroll-snap-align: start;
  //     // background-color: aqua !important;
  //   }
}
