$mainColor: #141d2e;
$secondaryColor: #ffffff;
$tertiaryColor: #f50e3d;
$mainTextColor: #dad8d8;
$secondaryTextColor: #242425;
$backgroundColor: #ebf2f9;
$mainFont: Poppins;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
  font-family: $mainFont;
}

.app {
  > .sections {
    scroll-snap-align: start;
    // background-color: lime;
  }

  section {
    margin-top: 0;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
      scroll-behavior: smooth;
    }
  }
}

@mixin screen-size($res) {
  @if $res == phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else if $res == tablet {
    @media only screen and (min-width: 600px) {
      @content;
    }
  } @else if $res == desktop {
    @media only screen and (min-width: 1460px) {
      @content;
    }
  }
}
